<app-home>
  <div class="container max-w-7xl mx-auto p-4 pb-10">
    <div class="md:grid grid-cols-9 gap-7">
      <div class="col-span-6">
        <div class="text-2xl font-semibold leading-loose">
          {{ product?.name }}
        </div>

        <div class="text-md mb-4 mt-2">
          Provided by: {{ merchant?.name }} |
          <ng-container *ngIf="reviews && reviews.length > 0; else noReviews">
            <span class="text-yellow-500">&#9733;</span>
            {{ getAverageRating(reviews).toFixed(1) }} |
            {{
              reviews.length === 1
                ? "1 user review"
                : reviews.length + " user reviews"
            }}
          </ng-container>

          <ng-template #noReviews>
            <span>No review available</span>
          </ng-template>
        </div>

        <div class="space-y-3">
          <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
            <img
              src="{{ product?.image }}"
              alt="{{ product?.name }}"
              class="transition-all absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            />
          </div>

          <div>
            <article class="flex flex-col gap-3 leading-loose">
              <div class="text-xl font-semibold leading-loose">Description</div>

              <p>{{ product?.description }}</p>

              <div class="text-xl font-semibold leading-loose">Address</div>

              <p>
                {{ product?.address }}, {{ product?.city }},
                {{ product?.state }}
              </p>
            </article>
          </div>
        </div>
      </div>

      <aside class="col-span-3">
        <app-checkout-product></app-checkout-product>
      </aside>
    </div>

    <div class="text-xl font-semibold leading-loose my-4">Reviews</div>

    <div
      class="grid grid-cols-1 lg:grid-cols-4 gap-4 lg:gap-7 font-semibold tracking-wide"
    >
      <ng-container *ngIf="reviews && reviews.length > 0">
        <div
          class="lg:col-span-2"
          *ngFor="let reviewWithUser of reviewsWithUsers"
        >
          <div class="border rounded-lg">
            <div class="flex justify-between items-center border-b p-4">
              <div class="flex items-center gap-1">
                <div class="text-yellow-300">
                  <span *ngIf="reviewWithUser.reviewData.rating >= 1"
                    >&#9733;</span
                  >
                  <span *ngIf="reviewWithUser.reviewData.rating >= 2"
                    >&#9733;</span
                  >
                  <span *ngIf="reviewWithUser.reviewData.rating >= 3"
                    >&#9733;</span
                  >
                  <span *ngIf="reviewWithUser.reviewData.rating >= 4"
                    >&#9733;</span
                  >
                  <span *ngIf="reviewWithUser.reviewData.rating >= 5"
                    >&#9733;</span
                  >
                </div>
                <div>Rating: {{ reviewWithUser.reviewData.rating }}</div>
              </div>

              <div>
                {{ reviewWithUser.reviewData.createdAt | date : "longDate" }}
              </div>
            </div>

            <div class="text-xl py-7 px-4">
              {{ reviewWithUser.reviewData.review }}
            </div>

            <div class="flex items-center border-t p-4">
              <div class="flex items-center gap-1.5">
                <img
                  src="https://cdn-icons-png.flaticon.com/512/6522/6522516.png"
                  alt="User image"
                  class="h-6 w-6"
                />
                <div>{{ reviewWithUser.userData.name }}</div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="!reviews || reviews.length === 0">
        <span class="font-normal">No review available..</span>
      </ng-container>
    </div>
  </div>
</app-home>
