<app-home>
  <div class="py-10 p-4">
    <div
      class="container mx-auto max-w-sm bg-white border border-gray-200 rounded-lg shadow p-6 space-y-3"
    >
      <form [formGroup]="loginForm" class="space-y-6" autocomplete="off">
        <h5 class="text-xl font-medium text-gray-900 dark:text-white">Login</h5>
        <div>
          <input
            type="email"
            name="email"
            id="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
            placeholder="Email"
            formControlName="email"
            required
          />
        </div>
        <div>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
            formControlName="password"
            required
          />
        </div>
        <button
          [disabled]="loginForm.invalid"
          [class.disabled]="loginForm.invalid"
          (click)="login()"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Login
        </button>
      </form>

      <p class="text-sm">Not have an account? <a routerLink="/register" class="text-blue-500 underline hover:no-underline">Register now!</a></p>
    </div>
  </div>
</app-home>
