<div class="container mx-auto">
  <div class="text-lg tracking-wide font-semibold leading-relaxed py-4">
    Order Information
  </div>

  <div class="border shadow rounded-lg p-4 pb-0 text-sm">
    <form class="space-y-4" [formGroup]="checkOutDataForm" autocomplete="off">
      <label for="travel_date">Travel Date</label>
      <div class="space-y-2">
        <input
          id="travel_date"
          type="text"
          mwlFlatpickr
          [allowInput]="false"
          [disableMobile]="true"
          [placeholder]="'Select date..'"
          [options]="flatPickrConfig"
          formControlName="travel_date"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          [min]="minDate"
        />
      </div>
      <div class="space-y-2 flex items-center justify-between">
        <label for="total_purchase">Total Purchase</label>

        <div class="flex items-center gap-3">
          <button
            (click)="decreaseAmount()"
            *ngIf="amount > 1"
            class="bg-blue-700 text-white rounded-full py-0.5 px-2 text-sm focus:outline-none"
          >
            -
          </button>
          <span class="bg-white p-1 rounded-lg cursor-default text-md">{{
            amount
          }}</span>
          <input
            id="total_purchase"
            formControlName="total_purchase"
            [value]="amount"
            type="hidden"
          />
          <button
            (click)="increaseAmount()"
            class="bg-blue-700 text-white rounded-full py-0.5 px-2 text-sm focus:outline-none"
          >
            +
          </button>
        </div>
      </div>
      <div class="flex justify-between items-center pt-5">
        <span class="text-md">Price</span>
        <span class="font-bold text-xl">
          {{ product?.price | currency : "MYR" }}
        </span>
      </div>
      <div class="mt-4">
          <button
            (click)="checkOut()"
            [class.disabled]="isLoading"
            [disabled]="isLoading"
            class="transition-all bg-blue-700 hover:bg-blue-800 p-2 text-sm text-white rounded-lg mb-3"
          >
            <span *ngIf="isLoading" class="flex items-center gap-2"
              ><span class="loader"></span> <span>Pay with PayPal</span></span
            >
            <span *ngIf="!isLoading">Pay with PayPal</span>
          </button>
      </div>
    </form>
  </div>
</div>
