<app-dashboard>
  <div class="container max-w-7xl mx-auto p-4">
    <div class="bg-gray-100 p-4 rounded-lg shadow space-y-4">
      <h1 class="text-xl font-semibold">
        Select a merchant to view analytics report:
      </h1>

      <div
        class="flex flex-col sm:flex-row sm:justify-between items-center gap-2 w-full"
      >
        <div class="w-full lg:w-auto">
          <select
            class="border-gray-300 rounded-lg focus:ring-0 focus:border-gray-300 w-full lg:w-auto"
            (change)="onMerchantChange($event)"
          >
            <option disabled value="-1" selected>Select Merchant</option>
            <option value="all">All</option>
            <option
              value="{{ merchant._id }}"
              *ngFor="let merchant of merchants"
            >
              {{ merchant.name }}
            </option>
          </select>
        </div>

        <form
          [formGroup]="sortByForm"
          (change)="sortTopProducts()"
          class="w-full"
        >
          <div class="flex flex-wrap sm:justify-end items-center gap-2">
            <select
              class="border-gray-300 rounded-lg focus:ring-0 focus:border-gray-300 w-full sm:w-auto"
              formControlName="ascending"
            >
              <option value="asc">Ascending</option>
              <option value="dsc">Descending</option>
            </select>
            <select
              class="border-gray-300 rounded-lg focus:ring-0 focus:border-gray-300 w-full sm:w-auto"
              formControlName="sort_by"
            >
              <option disabled value="-1">Sort by</option>
              <option value="name">Name</option>
              <option value="sales">Sales</option>
              <option value="price">Buying Power</option>
              <option value="amount_sold">Total Sales</option>
            </select>
          </div>
        </form>
      </div>

      <div class="overflow-x-auto space-y-4">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3">No</th>
              <th scope="col" class="px-6 py-3">Name</th>
              <th scope="col" class="px-6 py-3">Price</th>
              <th scope="col" class="px-6 py-3">Total Sales</th>
              <th scope="col" class="px-6 py-3">Total Price Sold</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="!isFetching">
              <ng-container *ngIf="topProducts && topProducts.length > 0">
                <tr
                  class="bg-white border-b"
                  *ngFor="let data of topProducts; let i = index"
                >
                  <th
                    scope="row"
                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                  >
                    <span>{{ i + 1 }}</span>
                  </th>
                  <td class="px-6 py-4">
                    <span class="line-clamp-2">
                      <a routerLink="/products/{{ data._id }}" class="underline">{{
                        data.name
                      }}</a>
                    </span>
                  </td>
                  <td class="px-6 py-4">
                    <span class="line-clamp-2">
                      {{ data.price | currency : "MYR " }}
                    </span>
                  </td>
                  <td class="px-6 py-4">
                    <span class="line-clamp-2">
                      {{ data.product_sold }}
                    </span>
                  </td>
                  <td class="px-6 py-4">
                    <span class="line-clamp-2">
                      {{ data.total_sold | currency : "MYR " }}
                    </span>
                  </td>
                </tr>
              </ng-container>

              <ng-container *ngIf="!topProducts || topProducts.length === 0">
                <tr class="bg-white border-b">
                  <td class="px-6 py-4" colspan="5">
                    <div class="flex items-center justify-center">
                      <span class="ml-2"> No data found </span>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="isFetching">
              <tr class="bg-white border-b">
                <td class="px-6 py-4" colspan="5">
                  <div class="flex items-center justify-center">
                    <span class="ml-2"> Loading... </span>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>

      <apx-chart
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [dataLabels]="chartOptions.dataLabels!"
        [stroke]="chartOptions.stroke!"
        [colors]="chartOptions.colors!"
        [title]="chartOptions.title!"
        [subtitle]="chartOptions.subtitle!"
        [plotOptions]="chartOptions.plotOptions!"
        [yaxis]="chartOptions.yaxis!"
        [xaxis]="chartOptions.xaxis!"
        [tooltip]="chartOptions.tooltip!"
        class="block w-full"
      ></apx-chart>
    </div>
  </div>
</app-dashboard>
